@{
    ViewData["Title"] = "Home Page";
}
 
<div class="d-flex flex-column justify-content-center align-items-stretch">
    <h1 class="display-4 align-self-center">Welcome</h1>
    <p>This project illustrates how to use the Asp .net Identity system to manage users in a web site. 
        Such as add users, add roles, add claims; attach roles to an user, attach claims to an user or a role;
        restrict the right of an user, like to prohibit to access a menu according the user's role and his claim.</P>
     <p>This project uses EntityFrameWork 8 to model the entites of the asp .net Identity 
        and uses the Database Sqlite to store the user identity info.
    </p>
    <p>To verify the project, begin by login: <b>test@gmail.com </b>and Passeword : <b>Yrs45678$ </b></p>
    <p>You can then add users with different roles and claims, and then verify that if an user hasn't an admin role, he cann't access the menu 
        Manager </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
